# General configuration
MODE=debug
SERVICE_NAME=location-service
HTTP_PORT=6002
GRPC_PORT=3345
JWT_SECRET=xxxxxxxxxxxxxx

# PostgreSQL Database configuration
DB_HOST=xxxxxxxxxxxxxxxxxxxxxx
DB_PORT=xxxxxxxxxxxxxxx
DB_NAME=xxxxxxxxx
DB_USER=xxxxxxxx
DB_PASS=xxxxxxxxxxxx-xxxxxxxxxxxxx
DB_MAX_IDLE_TIME_IN_MINUTE=60
DB_ENABLE_SSL_MODE=true

# MongoDB Database configuration
MONGO_HOST=cxxxxxxxxxxxxxxxxxxxxx
MONGO_PORT=xxxxxxxxxxxxx
MONGO_NAME=xxxxxxxxxxxxx
MONGO_USER=xxxxxxxxxxxxx
MONGO_PASS=xxxxxxxxxxxxxxxx
MONGO_MAX_IDLE_TIME_IN_MINUTE=60
MONGO_ENABLE_SSL_MODE=false

# GRPC URLs
GRPC_USER=xxxxxxxxxxxxxxxxxxxxx
GRPC_RESTAURANT=xxxxxxxxxxxxxxxxxxxxx
GRPC_REQ_TIMEOUT_IN_SECOND=20

# APM configuration
APM_SERVICE_NAME=xxxxxxxxxxxxxxxxxxxxxx
APM_SERVER_URL=http://localhost:8200
APM_ENVIRONMENT=test

# Migration path
MIGRATIONS=./migrations
