# General Configurations
MODE=xxxxxxxxxxxxxx
SERVICE_NAME=rxxxxxxxxxxxxxxxx
HTTP_PORT=xxxxxxxxx
GRPC_PORT=xxxxxxxxxxxx
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxx
RABBITMQ_URL=localhost

# Database Configurations
DB_HOST=xxxxxxxxxxxxxxxxxxxxxxxxxxx
DB_PORT=14467
DB_NAME=xxxxxxxxxxx
DB_USER=xxxxxxxxxxxxxx
DB_PASS=xxxxxxxxxxxxxxxxxxxxxxx
DB_MAX_IDLE_TIME_IN_MINUTE=60
DB_ENABLE_SSL_MODE=true

# Migrations Path
MIGRATIONS=./migrations

# MongoDB Configurations
MONGO_HOST=xxxxxxxxxxxxxxxxxxxxx
MONGO_PORT=xxxxxxxxxxxxxx
MONGO_NAME=xxxxxxxxxxxxxxxxxxx
MONGO_USER=xxxxxxxxxxx
MONGO_PASS=xxxxxxxxxxxx
MONGO_MAX_IDLE_TIME_IN_MINUTE=60
MONGO_ENABLE_SSL_MODE=false

# gRPC Configurations
GRPC_POSTS_URL=xxxxxxxxxxxxxxxxxxxxxxx
GRPC_REQ_TIMEOUT_IN_SECOND=20

# RabbitMQ Configurations
RMQ_RECONNECT_DELAY=600
RMQ_RETRY_INTERVAL=5

# APM Configurations
APM_SERVICE_NAME=xxxxxxxxxxxxxxxx
APM_SERVER_URL=http://localhost:8200
APM_ENVIRONMENT=test

# Migration path
MIGRATIONS=./migrations