MODE=
SERVICE_NAME=
HTTP_PORT=
GRPC_PORT=
JWT_SECREAT=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
MAX_IDLE_TIME_IN_MINUTE=60
ENABLE_SSL_MODE=false

MIGRATION_SOURCE= "./migrations"
GRPC_REQ_TIMEOUT_IN_SECOND=20